[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}
numpy = "*"
tqdm = "*"
keras-cv = "*"
matplotlib = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
